[submodule "iOS8/Demos/RESideMenu"]
	path = iOS8/Demos/RESideMenu
	url = https://github.com/jcope/RESideMenu.git
	branch = master
[submodule "iOS8/Demos/IntentKit"]
	path = iOS8/Demos/IntentKit
	url = https://github.com/jcope/IntentKit.git
	branch = master
[submodule "iOS8/Dependencies/MWLayoutHelpers"]
	path = iOS8/Dependencies/MWLayoutHelpers
	url = https://github.com/lazerwalker/MWLayoutHelpers.git
	branch = master
[submodule "iOS8/Demos/MWPhotoBrowser"]
	path = iOS8/Demos/MWPhotoBrowser
	url = https://github.com/jcope/MWPhotoBrowser.git
	branch = master
[submodule "iOS8/Demos/WatchSpringboard"]
	path = iOS8/Demos/WatchSpringboard
	url = https://github.com/jcope/WatchSpringboard-Prototype.git
	branch = master
[submodule "iOS8/Demos/Kingpin"]
	path = iOS8/Demos/Kingpin
	url = https://github.com/jcope/kingpin.git
	branch = master
